@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-slate-800;
}

.wrapper-components {
  @apply mx-auto px-6 md:px-8 lg:max-w-5xl
}
